.App {
  text-align: center;
}

.calculator {
  width: 360px;
  margin: 20px 20px;
}

input {
  padding: auto;
  font-size: xx-large;
  background: #24e2a9;
  color: white;
}

.display-window {
  border: none;
  border-bottom: solid black;
  width: 96%;
  padding-right: 4%;
  height: 105px;
  text-align: right;
  
}

.btn {
  border: none;
  width: 25%;
  height: 70px;
  font-size: xx-large;
}
.btn-op {
  background: #24e2a9;
}
.btn:hover {
  background: lightgrey;
}
.btn-op:hover {
  background: #86e0c5;
}